<header class="page-header">
  <div class="container page-header-container">
    <nav class="header-nav">
      <a href="/index.html" class="logo-page-header">
        <svg class="page-logo-icons" width="168" height="16">
          <use href="//img/sprite.svg#icon-logo-new"></use>
        </svg>
      </a>
      <ul class="header-nav-list-menu">
        <li class="header-nav-item">
          <a href="#how-it-works" class="header-nav-link">How It Works</a>
        </li>
        <li class="header-nav-item">
          <a href="#vegetables" class="header-nav-link">Vegetables</a>
        </li>
        <li class="header-nav-item">
          <a href="#reviews" class="header-nav-link">Reviews</a>
        </li>
      </ul>
    </nav>
    <button class="header-desktop-button" type="button" data-menu-open>
      Shop now
    </button>
    <button class="mobile-icon-header" type="button" data-menu-open>
      <svg class="burger-icon-mobile" width="32" height="32">
        <use href="/img/sprite.svg#icon-btn-burger" type="button"></use>
      </svg>
    </button>
  </div>
</header>
