<section class="vegetables-section" id="vegetables">
  <div class="container vegetables-container">
    <h2 class="vegetables-title">
      organic <span class="vegetables-title-part">vegetables</span>
    </h2>
    <p class="vegetables-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-list">
      <li class="vegetables-list-item">
        <h3 class="vegetables-content-title">eggplant</h3>
        <p class="vegetables-content-text">60 USD / kg</p>
        <img
          class="vegetables-list-img"
          srcset="../img/vegetables/eggplant@2x.webp 2x"
          src="../img/vegetables/eggplant.webp"
          alt="eggplant"
          width="282"
          height="243"
        />
      </li>
      <li class="vegetables-list-item">
        <h3 class="vegetables-content-title">leek</h3>
        <p class="vegetables-content-text">50 USD / kg</p>
        <img
          class="vegetables-list-img"
          srcset="../img/vegetables/leek@2x.webp 2x"
          src="../img/vegetables/leek.webp"
          alt="leek"
          width="282"
          height="243"
        />
      </li>
      <li class="vegetables-list-item">
        <h3 class="vegetables-content-title">mushrooms</h3>
        <p class="vegetables-content-text">40 USD / kg</p>
        <img
          class="vegetables-list-img"
          srcset="../img/vegetables/mushrooms@2x.webp 2x"
          src="../img/vegetables/mushrooms.webp"
          alt="mushrooms"
          width="282"
          height="243"
        />
      </li>
      <li class="vegetables-list-item">
        <h3 class="vegetables-content-title">corn</h3>
        <p class="vegetables-content-text">60 USD / kg</p>
        <img
          class="vegetables-list-img"
          srcset="../img/vegetables/corn@2x.webp 2x"
          src="../img/vegetables/corn.webp"
          alt="corn"
          width="282"
          height="243"
        />
      </li>
      <li class="vegetables-list-item">
        <h3 class="vegetables-content-title">sweet potatoes</h3>
        <p class="vegetables-content-text">50 USD / kg</p>
        <img
          class="vegetables-list-img"
          srcset="../img/vegetables/potatoes@2x.webp 2x"
          src="../img/vegetables/potatoes.webp"
          alt="sweet potatoes"
          width="282"
          height="243"
        />
      </li>
      <li class="vegetables-list-item">
        <h3 class="vegetables-content-title">carrot</h3>
        <p class="vegetables-content-text">40 USD / kg</p>
        <img
          class="vegetables-list-img"
          srcset="../img/vegetables/carrot@2x.webp 2x"
          src="../img/vegetables/carrot.webp"
          alt="carrot"
          width="282"
          height="243"
        />
      </li>
    </ul>
  </div>
</section>
