.page-header {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.00);
    z-index: 99999;
}

.header-nav-list-menu {
    display: none;
}

.header-desktop-button {
    display: none;
}

.page-header-container {
    display: flex;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo-page-header {
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
}

.page-logo-icons {
    display: block;
    fill: #fbfbfb;
}

 .mobile-icon-header {
     line-height: 0;
     border: none;
     background-color: transparent;
     padding: 0;


 }

 .burger-icon-mobile {
     stroke-width: 3px;
     stroke: #fbfbfb;
     fill: none;
 }



@media screen and (min-width: 768px) {
    .page-header {
        top: 42px;
    }

    .page-logo-icons {
        width: 194px;
        height: 18px;
    }

    .burger-icon-mobile {
        width: 40px;
        height: 40px;
    }
}



@media screen and (min-width: 1280px) {
    
    .page-header {
        top: 32px;
    }

    .container {
            padding-left: 32px;
        }
    
    .mobile-icon-header {
        display: none;
    }

    .logo-page-header { 
        padding-top: 17px;
        padding-bottom: 17px;
    }

    .header-desktop-button {
        display: flex;
        font-family: "Inter Tight", sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 1.11111;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: #fbfbfb;
        border-radius: 30px;
        border: none;
        padding: 16px 32px;
        margin-left: auto;
        min-width: 157px;
        height: 52px;
        background-color: #7a3145;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
    }

    .header-desktop-button:hover,
    .header-desktop-button:focus {
        background-color: #622133;
    }

    .header-desktop-button:active {
        color: #7a3145;
        background-color: #fbfbfb;
    }

    .page-header-container {
        column-gap: 20px;
    }

    .header-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
    }
    

    .header-nav-list-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 8px;
        margin-left: auto;
    }

    .header-nav-link {
        font-family: "Inter Tight", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: -0.02em;
        text-align: center;
        color: #fbfbfb;
        padding: 12px;
        width: 114px;
        height: 44px;
        border-radius: 12px;
        border: 1px solid rgba(251, 251, 251, 0.4);
    }
}