.hero-section {
    background-color: #576f35;
    display: flex;
    justify-content: center;
}

.hero-text-container {
    max-width: 375px;
    display: flex;
    flex-direction: column;
}

.hero-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-top:100px;
}

.hero-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    padding-bottom: 40px;
}

.hero-image {
    background-image: linear-gradient(
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)),
        url(/img/hero/hero-mob.jpg);
    height: 370px;
    max-width: 375px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: -20px;
    margin-right: -20px;
}
@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .hero-image {
        background-image: linear-gradient(
            rgba(20, 20, 20, 0.2),
            rgba(20, 20, 20, 0.2)),
            url(/img/hero/hero-mob@2x.jpg);
    }
}

@media screen and (min-width: 768px) {
    .hero-text-container {
        max-width: 768px;
    }

    .hero-title {
        font-size: 76px;
        padding-top: 122px;
        margin-bottom: 25px;
        
    }
    .hero-text {
        font-size: 16px;
        line-height: 1.25;
        padding-bottom: 40px;
        padding-right: 101px;
    }
    .hero-image {
        background-image: linear-gradient(
            rgba(20, 20, 20, 0.2),
            rgba(20, 20, 20, 0.2)),
            url(/img/hero/hero-tab.jpg);
        height: 539px;
        max-width: 768px;
        margin-left: -32px;
        margin-right: -32px;
    }
    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .hero-image {
            background-image: linear-gradient(
                rgba(20, 20, 20, 0.2),
                rgba(20, 20, 20, 0.2)),
                url(/img/hero/hero-tab@2x.jpg);
        }
    }
}

@media screen and (min-width: 1280px) {
    .hero-image {
        background-image: linear-gradient(
            rgba(20, 20, 20, 0.2),
            rgba(20, 20, 20, 0.2)),
            url(/img/hero/hero-desk.jpg);
        width: 650px;
        height: 100%;
        margin-left: 0;
        margin-right: -80px;
    }

    .hero-container {
        display: flex;
        padding: 0;
    }

    .hero-text-container {
        width: 630px;
        padding-left: 100px;
        padding-right: 28px;
    }

        .hero-title {
        padding-top: 238px;
        margin-bottom: 128px;
        }
        .hero-text {
            padding-bottom: 50px;
            padding-right: 30px;
        }

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .hero-image {
            background-image: linear-gradient(
                rgba(20, 20, 20, 0.2),
                rgba(20, 20, 20, 0.2)),
                url(/img/hero/hero-desk@2x.jpg);
        }
    }
}