/*===vegetables===*/

.vegetables-container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.vegetables-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.04;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  margin-bottom: 20px;
  max-width: 335px;
}

.vegetables-title-part {
  color: rgba(251, 251, 251, 0.3);
}

.vegetables-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 40px;
  max-width: 335px;
}

.vegetables-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding-left: 0.5px;
  padding-right: 0.5px;
}

.vegetables-list-item {
  width: 100%;
  border-radius: 40px;
  padding: 32px 26px;
  background: #fbfbfb;
}
.vegetables-content-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #7a3145;
  margin-bottom: 12px;
}
.vegetables-content-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
  margin-bottom: 14px;
}

@media only screen and (min-width: 768px) {
  .vegetables-container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .vegetables-title {
    font-size: 64px;
    line-height: 1;
    margin-bottom: 50px;
    max-width: 508px;
  }
  .vegetables-text {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 50px;
    max-width: 626px;
  }
  .vegetables-list {
    row-gap: 28px;
    padding: 0;
  }
  .vegetables-list-item {
    width: calc((100% - 20px) / 2);
    padding: 32px 30px;
  }
  .vegetables-content-title {
    font-size: 32px;
  }
  .vegetables-content-text {
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 1280px) {
  .vegetables-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .vegetables-title {
    margin-bottom: 25px;
  }
  .vegetables-list {
    gap: 21px;
    row-gap: 28px;
  }
  .vegetables-list-item {
    width: calc((100% - 42px) / 3);
    padding: 32px;
  }
}
